*{
    margin: 0;
    padding: 0;box-sizing: border-box;

}
.main{
    background-image: url(./img/resize.jpeg);
}
.main_father{
    padding-top: 150px;
}
.main_list{
    padding-left: 200px;
    padding-top: 250px;
    font-size: 25px;

}
.btn{
    background-color: antiquewhite;
    
}
.section_list{
    
    margin-top: 10%;
}
.h2{
    line-height: 100px;
}
.info{
  padding-top: 100px;
}
.card-text{
    padding-top: 65px;
}
.card-img-top:hover{
    /* width: 200px; */
    width: 102%;
    box-shadow: 20px 7px 5px rgb(89, 255, 0);
}
.wbapper_text{
    margin-left: 400px;
    text-align: center;
}